/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('style.css');


  /* laptop */
@media (max-width: 1800px){
	.single-header-text {
		padding-left: 24%;
	}
}
  /* laptop */
@media (max-width: 1600px){
	.single-header-text {
		padding-left: 14%;
	}
}
  /* laptop */
@media (max-width: 1400px){
	.container {
		max-width: 1180px;
	}
	.header-menu ul li a {
		font-size: 24px;
		margin-right: 42px;
		padding-bottom: 20px;
	}
	.header-btn a {
		width: 196px;
	}
	.footer-logo a img {
		margin-top: -70px;
		width: 240px;
	}
	.footer-right p {
		font-size: 13px;
	}
	.header-menu {
		padding-top: 62px;
	}
}

  /* mini laptop */
@media (max-width: 1200px){
	.container {
		max-width: 980px;
	}
	.header-menu ul li a {
		font-size: 18px;
		margin-right: 25px;
		padding-bottom: 10px;
	}
	.header-menu ul li > ul {
		width: 250px;
		top: 106px;
	}
	.header-menu ul > li:hover ul {
		top: 96px;
	}
	.header-btn a {
		width: 170px;
		font-size: 18px;
		padding-left: 46px;
		height: 30px;
	}
	.header-btn a img {
		width: 30px;
	}
	.header-area {
		height: 110px;
	}
	.logo a img {
		width: 245px;
	}
	.header-area.is-stick .logo a img {
		width: 159px;
	}
	.single-header-text p {
		font-size: 20px;
	}
	.single-hero {
		height: 700px;
	}
	.footer-logo a img {
		margin-top: -50px;
		width: 190px;
		margin-right: 5px;
	}
	.footer-logo-text h4 {
		font-size: 24px;
	}
	.footer-logo-text p {
		font-size: 18px;
	}
	.footer-btn a {
		width: 190px;
	}
	.header-menu {
		padding-top: 60px;
	}
	.header-area.is-stick {
		height: 109px;
	}
	.header-area.is-stick .header-menu ul > li:hover ul {
		top: 98px;
	}
}

  /* tablet */
@media (max-width: 992px){
	.container {
		max-width: 755px;
	}
	.header-menu ul li a {
		font-size: 14px;
		margin-right: 10px;
		padding-bottom: 10px;
	}
	.header-btn a {
		width: 120px;
		font-size: 12px;
		padding-left: 28px;
		height: 26px;
		line-height: 26px;
	}
	.header-btn a img {
		width: 25px;
	}
	.header-btn {
		margin-top: 4px;
	}
	.header-area {
		height: 98px;
	}
	.header-area.is-stick {
		height: 95px;
	}
	.header-menu {
		padding-top: 54px;
	}
	.logo a img {
		width: 220px;
	}
	.header-area.is-stick .logo a img {
		width: 137px;
	}
	.single-header-text {
		padding-left: 6%;
	}
	.single-header-text p {
		font-size: 16px;
	}
	.header-bottom {
		height: 37px;
	}
	.header-bottm-active .owl-nav div img {
		width: 25px;
		height: 37px;
	}
	.header-area.is-stick .header-menu ul > li:hover ul {
		top: 84px;
	}
	.single-hero {
		height: 600px;
	}
	.hero-text span {
		font-size: 40px;
	}
	.hero-text h1 {
		font-size: 45px;
		-webkit-text-stroke: 2px #FBAE1B;
	}
	.hero-text {
		width: 462px;
		height: 100px;
		padding-left: 34px;
		bottom: 100px;
	}
	.header-menu ul li > ul {
		top: 97px;
	}
	.header-menu ul > li:hover ul {
		top: 87px;
	}
}

/* mobile version */
@media(max-width: 767px){
	.header-area {
		height: 120px;
	}
	.header-area.is-stick {
		height: 110px;
	}
	.logo a img {
		width: 160px;
		right: auto;
		left: 5px;
	}
	.header-btn a {
		width: 150px;
		font-size: 18px;
		padding-left: 35px;
		height: 30px;
		line-height: 30px;
		border-right: 0;
		border-radius: 30px;
	}
	.header-btn a img {
		width: 30px;
	}
	.header-btn {
		margin-top: 6px;
		margin-right: 65px;
	}
	.single-header-text {
		padding-left: 0;
		text-align: center;
	}
	.single-header-text p {
		font-size: 18px;
		line-height: 1.2;
	}
	.header-bottom {
		height: 45px;
	}
	.header-bottm-active .owl-nav div img {
		width: 28px;
		height: 45px;
	}
	.single-hero {
		height: 580px;
	}
	.hero-text span {
		font-size: 25px;
	}
	.hero-text h1 {
		font-size: 28px;
		-webkit-text-stroke: 1.5px #FBAE1B;
	}
	.hero-text {
		width: 310px;
		height: 68px;
		left: 17px;
	}
	.footer-logo a img {
		margin-top: -50px;
		width: 160px;
	}
	.footer-area {
		padding-top: 25px;
		position: relative;
	}
	.footer-logo-text h4 {
		font-size: 20px;
	}
	.footer-logo-text p {
		font-size: 16px;
	}
	.footer-social a img {
		width: 32px;
	}
	.footer-social {
		position: absolute;
		right: 15px;
		top: -124px;
		margin: auto;
	}
	.footer-right.text-right {
		text-align: center !important;
		margin-top: 40px;
	}
	.footer-right p {
		font-size: 14px;
	}
	.header-area.is-stick .logo a img {
		width: 140px;
	}
	/* menu active */
    .hamburger-menu{
        display: block;
    }
    .header-area.is-stick .hamburger-menu{
		top: 54%;
    }
	.header-right {
		z-index: 9;
	}
	#menu {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100vw;
		height: 100vh;
		background: #6E0095;
		z-index: 2;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		padding-top: 145px;
		text-align: left !important;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
		padding-left: 15px;
		padding-right: 15px;
	}
    #menu.current{
        left: 50%;
    }
	#menu li {
		display: block;
		padding-right: 0;
		margin-left: 0;
		margin-bottom: 25px;
	}
	.menu-first li:nth-child(2) {
		margin-bottom: 10px !important;
	}
	#menu li:last-child {
		margin-bottom: 0 !important;
		margin-top: 10px;
	}
	#menu ul li a {
		text-transform: uppercase;
		line-height: 1;
		color: #fff;
		font-size: 24px;
		font-family: 'ParalucentCondDemiBold';
	}
	/* menu collapsed */
	.card-header {
		padding: 0;
		margin-bottom: 0;
		background: none;
		border-bottom: 0;
	}
	#menu .btn {
		font-weight: 500;
		background: none;
		border: 0;
		padding: 0;
		font-size: 20px;
		line-height: 1;
		border-radius: 0;
		text-transform: uppercase;
		color: #fff;
		text-decoration: none;
		position: relative;
		padding: 15px 0;
	}
	#menu .btn.btn-link.btn-block.text-left.collapsed::before {
		position: absolute;
		content: '';
		width: 22px;
		height: 22px;
		background: url("../img/plus.png");
		top: 50%;
		right: 5px;
		background-size: cover;
		transform: translateY(-50%);
		filter: invert(98%) sepia(3%) saturate(815%) hue-rotate(321deg) brightness(116%) contrast(100%);
	}
	#menu .btn.btn-link.btn-block.text-left::before {
		position: absolute;
		content: '';
		width: 22px;
		height: 22px;
		background: url("../img/minus.png");
		top: 50%;
		right: 5px;
		background-size: cover;
		transform: translateY(-50%) rotate(-180deg);
		transition: .3s;
		filter: invert(98%) sepia(3%) saturate(815%) hue-rotate(321deg) brightness(116%) contrast(100%);
	}
	#menu .card {
		width: 100%;
		background: none;
		border: 0;
		border-radius: 0;
		margin: 0;
	}

	#menu .btn-link.focus, .btn-link:focus {
		text-decoration: none;
		box-shadow: none;
	}
	#menu .card-body {
		padding: 0 15px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	#menu .card-body ul li:last-child {
		margin-bottom: 0 !important;
	}
	#menu > ul {
		margin-top: 10px;
	}


}




